<div class="jumbotron">
  <h1>WELCOME TO</h1>
  <p class="lead">
    <img src="images/soul.png" alt="I'm Yeoman"><br><br>
    House of technology.
  </p>
  <p><a class="btn btn-lg btn-success" ng-href="#/">Splendid!<span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>SOULSOFTWARE CLASS </h4>
  <p>
   Connect a Nodejs backend to Angularjs Frontend
  </p>

  <h4>Partecipants</h4>
    <table class="table table-striped">
        <thead>
            <th>Name</th>
        </thead>
        <tbody>
        <tr ng-repeat="p in partecipants"><td>{{p.name}}</td></tr>
        </tbody>
    </table>
<hr/>
<h4>By the ... CTO</h4>
  <p>what CTO does mean? Who is the CTO ? {{ author.name + ' ' + author.surname }} </p>
</div>
